body{
  margin: 0;
padding: 0;
font-family: sans-serif;
background: url(table.jpg) no-repeat ;
background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333bd;
  margin-bottom: 20px;
  height: 70px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}



  #button2{
 width: 10%;
  background: red;
  border: 2px solid white;
  color: white;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
   margin-bottom: 100px 0;

}
  #button1{
  width: 10%;
  background: black;
  border: 2px solid white;
  color: white;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 100px 0;
 
}

header {
  width: 100%;
  padding-bottom: 0px;
  flex-direction: column;
  padding: 0%;

}

 .flex img{
   width: 350px;
    height: 400px;
    box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;

}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.test{
  position : relative;
  text-align: center;

}
#ammount{
    font-size:20px; 
    margin: 20px;
    width: 100px;
    height: 20px;
    border: none;
    outline: none;
    background-color:rgba(245,245,245,0.8) 

}
#ammount input{
  border: none;
  outline: none;
 background: none;
  color: black;
  font-size: 20px;
  width: 80%;
  float: left;
  margin:  0px;
}
#ammount1{ 
  font-size:20px;
    margin: 20px;
    width: 100px;
    height: 20px;
    border: none;
    outline: none;
    background-color:rgba(245,245,245,0.8) 
}
#ammount1 input{
  border: none;
  outline: none;
 background: none;
  color: black;
  font-size: 20px;
  width: 80%;
  float: left;
  margin:  0px;
}
#k{
 margin-left: 300%;
 font-size:20px;
}
#Diposit{
 font-size: 20px;
 margin:10px 0px;
}
#Withdraw{
  margin:10px 0px;
  font-size: 20px;
}
#lgg {
    padding: 0px;
    width: 160px;
    height: 74px;
    
}

#lgg:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
